 #container {
     width: 1050px;
     /*border: 1px solid grey;*/
     margin: 0 auto;
 }

 #brand {
     float: left;
 }

 h1 a {
     font-size: 50px;
     font-weight: 100;
     color: #861BBF;
     text-decoration: none;
 }

 #searchBox {
     float: right;
     background: linear-gradient(#E4F2B9, #B7E953);
     width: 400px;
     height: 50px;
     padding: 20px 10px 0px 10px;
     margin-top: 20px;
 }

 #header {
     height: 100px;
     padding: 10px 0px;
 }

 .text {
     float: left;
     width: 200px;
     padding: 5px;
     font-size: 15px;
     color: #E36AOC;
     background: white url(images/search.png) right center no-repeat;
     border: 1px solid #C8D03E;
 }

 .submit {
     float: right;
     padding: 5px;
     font-weight: bold;
     color: white;
     background: #A751D6;
     font-size: 15px;
 }

 .clear {
     clear: both;
 }

 #menu {
     height: 70px;
     background: linear-gradient(#F8F594), #D5D533);
 }

 ul {
     list-style: none;
 }

 #menu ul li {
     float: left;
     padding: 0 10px;
 }

 #menu ul li a {
     text-decoration: none;
     text-transform: uppercase;
     font-size: 17px;
 }